* {
  margin: 0;
  font-family: 'Roboto',
  sans-serif;
  box-sizing: border-box;
}

#grid {
  display: grid;
  gap: 15px;
  max-width: 1000px;
  margin: 25px auto;
  box-shadow: 5px 5px 10px;
}



nav {
  background-color: rgb(110, 119, 168);
  color: white;
}

.skill-bar-container {
  height: 20px;
  margin-bottom: 10px;
}

.data_entry, .credit_analysis, .outlook, .excel {
  background-color: white;
  height: 15px;
  width: 100%;
  border-radius: 10px;
}

.accounting {
  background-color: white;
  height: 15px;
  width: 80%;
  border-radius: 10px;
}

.programming {
  background-color: white;
  height: 15px;
  width: 30%;
  border-radius: 10px;
}



#name_and_title_div {
  margin: 15px;
}

#name_and_title_div > h1 {
  padding: 0 10px 5px 0;
}

nav h4 {
  background-color: hsl(231, 25%, 35%);
  padding: 5px 15px;
  cursor: pointer;
}

.nav_section_details {
  margin: 15px;
  display: none;
}

.toggle-open {
  display: block;
}

.sub-section {
  margin-bottom: 40px;
}

.nav_section_details > .sub-section > p:nth-child(1) {
  font-weight: 600;
}

#depaul_logo {
  width: 200px;
}

main {
  margin: 15px;
}

main section {
  display: none;
}

#intro_paragraphs {
  margin-bottom: 20px;
}

#intro_paragraphs > p {
  line-height: 1.5;
  font-size: 14px;
}

.experience_div, .education_div, .achievements_div {
  display: grid;
  grid-template-columns: 0.75fr 3fr;
  margin: 20px 0;
}

.experience_details {
  padding: 10px;
}

.experience_details > h4, .education_details > h4 {
  margin-bottom: 10px;
}

.experience_details li, .education_details li {
  margin-bottom: 10px;
}

main > h2 {
  border-top: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  padding: 5px 0;
  margin-bottom: 5px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #grid {
    grid-template-columns: auto 3fr;
  }

  nav h4 {
    pointer-events: none;
  }

  .nav_section_details {
    margin: 15px;
    display: block;
  }

  main > h2 {
    margin-bottom: 0; 
    pointer-events: none; 
  }

  main section {
    display: block;
  }

}
