_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
*.DS_Store
/_rough_drafts
/notes/
assets/images/.DS_Store
/.vscode
assets/.DS_Store
.cursor
assets/images/ruby-client-generated
assets/images/ruby-client-generated.zip
assets/images/ror.jpg
assets/images/ror.png
notes.md

