* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  max-width: 1000px;
  border: 1px solid black;
}

#container > * {
  padding: 1em;

}

#container h1 {
  border-bottom: 1px solid black;
}

#container nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}