* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

body > * {
    padding: 10px;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(49, 65, 133);
    color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 5px lightgray;
}


main {
    margin-top: 10px;
}