* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcyan;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 5px lightgray;
}

main {
    margin-top: 10px;
}