/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Source+Sans+Pro'); */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 1px dashed black;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    min-width: 350px;
    line-height: 1.3;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

button,
select {
    text-transform: none;
}

body {
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(224, 222, 222);
}

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(49, 65, 133);
    color: white;
    border-bottom: 1px solid lightgray;
    font-family: 'Source Sans Pro', sans-serif;
}

header > h2 { font-size: 26px}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    background: #293570;
}

.contact>a, nav>a {
    color: #EDEDED;
    text-decoration: none;
    display: flex;
    font-weight: 600;
}

.contact {
    display: none;
}

nav>a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 20px;
    align-items: center;
    background: white;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.projects_grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}



.text_descriptions {
    display: none;
}

#technologies_intro {
    padding: 20px;
    text-indent: 3em;
    line-height: 1.5;
}

#technologies_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(25px, auto);
    width: 100%;
    justify-items: center;
}

#technologies_grid > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
}


@media (min-width: 495px) {
    header {
        flex-direction: row;
        font-size: 16px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    main > h2 {
        font-size: 28px;
        padding: 10px;
    }

    .text_descriptions {
        display: block;
        text-overflow: ellipsis;
    }

    .projects_grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
        row-gap: 15px;
        margin-top: 20px;
        white-space: nowrap;
        overflow: hidden;
    }

    .projects_grid>li:nth-child(odd) {
        justify-self: right;
    }
}