* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}



body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo_container_div {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#logo {
  height: 80px;
  width: auto;
}

#first_image_div {
  width: 80vw;
  min-height: 200px;
  background-image: url(/public/images/BLACKTOWTRUCK.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  padding: 0 24px;
}

#welcome_text_div {
  padding: 40px 24px;
  max-width: 80%;
}

#welcome_text_div p, .about_us_text {
  font-size: 24px;
  color: rgb(173, 102, 17);
  text-align: center;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

#about_us_title_div {
  border-bottom: 1px solid lightgray;
  display: block;
  width: 80%;
  text-align: center;
  position: relative;
}

#about_us_title_div span {
  position: relative;
  top: 10px;
  background-color: white;
  margin: 0 10px;
  padding: 0 10px;
  font-weight: 100;
}

#about_us_flexbox_div div {
  width: 100%;
  padding: 20px;
}

#about_us_flexbox_div p {
  text-align: center;
}

#about_us_flexbox_div div img {
  max-width: 100%;
}


.about_us_side_text_div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width:1024px) {

  #logo {
    height: 115px;
    max-height: 115px;
  }

  #first_image_div {
    min-height: 500px;
  }

  .regular_row_div {
    display: flex;
  }

  #reverse_row_div {
    display: flex;
    flex-direction: row-reverse;
  }


}
