* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

#firstRow {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 980px;
    font-size: 13px;
}

#aboutStore {
    margin-left: 8px;
}

#aboutStore li {
    padding: 0 10px;
}

#gmailImages {
    margin-right: 30px;
}

#gmailImages li {
    padding-left: 10px;
}

#logo-container {
    margin: 50px auto 0 auto;
    min-width: 980px;
    display: flex;
    justify-content: center;
}

#logo {
    display: block;
    padding-top: 109px;
}

#search-box-container {
    min-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

.button {
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    padding: 0 16px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 2px;

}

#search-box {
    width: 484px;
    height: 44px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    min-width: 980px;
}


#footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: small;
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    margin-bottom: 0;
    min-width: 980px;

}


#footer li {
    padding: 0 12px;
    color: #666;
}

#advertisingBusiness {
    margin-left: 20px;
}

#privacyTerms {
    margin-right: 20px;
}

.icon-square {
    width: 20px;
    vertical-align: middle;
    background-image: url("../images/iconList.png");
    background-size: 528px 68px;
    background-position: -132px -35px;
    opacity: .55;
    padding: 10px 20px;
}

.icon-bell {
    width: 20px;
    vertical-align: middle;
    background-image: url("../images/iconList.png");
    background-size: 528px 68px;
    background-position: -350px -35px;
    opacity: .55;
    padding: 10px 20px;
}

.user-profile {
    width: 20px;
    vertical-align: middle;
    background-image: url("../images/userProfileImage.png");
    background-size: 50px 40px;
    padding: 10px 20px;
}