<div class="col text-center">
  <ul class="contact-list">
    <li class="p-name">
      {%- if site.author -%}
      {{ site.author | escape }}
      {%- else -%}
      {{ site.title | escape }}
      {%- endif -%}
    </li>
    {%- if site.email -%}
    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {%- endif -%}
  </ul>
</div>

<div class="col text-center">
  {%- include social.html -%}
</div>

<div class="col text-center">
  <strong><i>{{- site.description | escape -}}</i></strong>
</div>