<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
    {% if page.url != "/" %}
    <a class="navbar-brand" href="/">A Blog about Ruby and Ruby on Rails
      {% else %}
      <a class="navbar-brand" href="/">Michael Marchand</a>
    </a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <div class="navbar-nav mb-2 mb-lg-0">
        <div class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/topics">Topics</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/coffee_chat">Coffee Chat</a>
        </div>
      </div>
    </div>
  </div>
</nav>