<nav class="navbar">
  <div class="container">
    {% if page.url != "/" %}
    <a class="navbar-brand" href="/">Michael Marchand</a>
    {% else %}
    <a class="navbar-brand" href="/">A Blog about Stuff</a>
    {% endif %}
    <div class="d-flex">
      <div class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/tech-stack">Tech stack</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="/coffee_chat">Coffee Chat</a>
      </div>
    </div>
  </div>
</nav>