
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Michroma', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(/verboten/school-of-rock-jack-black-650-430.jpg);
    background-size: cover;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(5, 50px);
    gap: 15px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 3px;
    border: 8px solid darkgray;
    background: gray;
}

.button {
    border: 3px solid white;
    background: whitesmoke;
    border: 3px inset lightgray;
    border-radius: 3px;
    padding: 12px;
    
}

.shake {
    animation-name: click;
    animation-duration: 0.1s;
}

@keyframes click {
    0% {transform: scale(0.97) rotate(4deg)}
    50% {transform: scale(0.90)}
}



#screen {
    background: rgba(255,255,255,0.9);
    padding-right: 10px;
    border: white;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Press Start 2P';
    max-width: 320px;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: -1;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#enter {
    grid-column-start: 3;
    grid-column-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 4;
}