---
---


@import "{{ site.theme }}";
.site-header { 
  background: no-repeat url('/assets/images/sparks.jpeg');
  min-height: 200px;
}

.previous {
  border: 2px solid black;
}

.site-title {
  font-size: 3em;
}