---
---

@import "minima";
@import "monokai.css";

nav {
  background-color: $palette-color1;
  padding: 0.5rem;
}

.nav-link,
.navbar-brand {
  color: white;
}

.site-header {
  background: url("/assets/images/rails.png");
  background-repeat: no-repeat;
  background-position: 45% 45%;
  background-size: auto;
  min-height: 200px;
  top: 0;
}

.navbar-toggler-icon {
  color: white;
}

code.language-plaintext {
  font-size: 1em;
  color: white;
  background-color: #272822;
  padding: 2px 10px;
  border-radius: 3px;
}

.nav-link:hover,
.nav-focus:focus {
  color: $palette-color4;
  text-decoration: if($palette-color4 == underline, none, null);
}

pre code {
  color: $palette-color5;
}

#index-image {
  float: right;
  margin: 1em;
  border-radius: 10px;
  transform: rotate(-10deg);
  box-shadow: 5px 5px 5px;
  transition: 4s;
}

#index-image:hover {
  float: right;
  margin: 1em;
  border-radius: 10px;
  transform: rotate(10deg);
  box-shadow: 5px 5px 5px;
}