---
---

@import "minima";
@import "monokai.css";

nav {
  background-color: $palette-color1;
  padding: 0.5rem;
  border-radius: 0 0 5px 5px;
}

.nav-link,
.navbar-brand {
  color: white;
}

.sticky {
  position: sticky;
  top: 0;
}

.site-header {
  background: url("/assets/images/rails.png");
  background-repeat: no-repeat;
  background-position: 45% 45%;
  background-size: auto;
  min-height: 200px;
  top: 0;
}

code.language-plaintext {
  font-size: 1em;
  color: white;
  background-color: #272822;
  padding: 2px 10px;
  border-radius: 3px;
}

.navbar * {
  color: white !important;
}

.nav-link:hover,
.nav-focus:focus {
  color: $palette-color4;
  text-decoration: if($palette-color4 == underline, none, null);
}

pre code {
  color: $palette-color5;
}

#index-image {
  float: right;
  margin: 1em;
  border-radius: 10px;
  transform: rotate(-10deg);
  box-shadow: 5px 5px 5px;
  transition: 4s;
  width: 300px;
  height: auto;
}

#index-image:hover {
  float: right;
  margin: 1em;
  border-radius: 10px;
  transform: rotate(10deg);
  box-shadow: 5px 5px 5px;
}

.badges {
  text-align: center;
  padding: 8px;
}

.no-bullets {
  list-style-type: none;
}

@media screen and (min-width: 769px) {
  .badges {
    padding: 20px;
  }
}
