---
---
@import "{{ site.theme }}";
// @import "native.css";
// @import "zenburn.css";
@import "monokai.css";

.site-header{
  background: url("/assets/images/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
  background-size: cover;
  min-height: 300px;
  top: 0;
}

.sidebar {
  background-color: green;
}

.wrapper {
  // border: 1px solid black;
}

pre.highlight {
  background-color: #3f3f3f !important;
}