---
---
@import "{{ site.theme }}";

.site-header{
  background: url("/assets/images/sparks.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  background-size: cover;
  min-height: 300px;
  top: 0;
}

