---
layout: default
---
<p>
<nav aria-label="Blog pagination">
  <div>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% else %}
      <span>Previous</span>
    {% endif %}
    
    {% if paginator.next_page and paginator.page < paginator.total_pages %}
      <a href="{{ paginator.next_page_path }}">Next</a>
    {% else %}
      <span>Next</span>
    {% endif %}
  </div>
</nav>
</p>

<main>
  {%- if site.posts.size > 0 -%}
  <h2>{{ page.list_title }}</h2>
  <article>
    {%- for post in paginator.posts -%}
    <section>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
      &nbsp;
      <strong>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </strong>
      <br>

    </section><br>
    {%- endfor -%}
  </article>
  {%- endif -%}
</main>

<footer>
  <nav aria-label="Blog pagination">
    <div>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% else %}
        <span>Previous</span>
      {% endif %}
      
      {% if paginator.next_page and paginator.page < paginator.total_pages %}
        <a href="{{ paginator.next_page_path }}">Next</a>
      {% else %}
        <span>Next</span>
      {% endif %}
    </div>
  </nav>
</footer>