---
layout: default
---
<div class="row pagination">
  <div id="top-pagination-links" class="text-center">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"> Previous </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %} {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next">Next</span>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-md-3 d-none d-md-flex flex-column" id="years-and-tags">
    <div class="py-3">
      <ul class="list-group list-unstyled text-center">
        <li>Years</li>
        {% for category in site.categories %}
        <li class="">
          <a href={% link categories.md  %}>
            {{ category[0] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <ul class="list-unstyled text-center">
        <li>Tags</li>
        {% for tag in site.tags %}
        <li>
          <a href={% link topics.md %}#{{ tag[0] }} class="">
            {{ tag[0] }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col">

    <div>
      {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
      {%- endif -%}

      {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>

      <ul class="post-list">
        {%- for post in paginator.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d,
          %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>

          {%- if site.show_excerpts -%} {{ post.content | strip_html |
            truncatewords: 50 }} {%- endif -%}
        </li>

        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>


  </div>
</div>


<div class="row pagination">
  <div id="top-pagination-links" class="text-center">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"> Previous </a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %} {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next">Next</span>
    {% endif %}
  </div>
</div>