html,
body {
    min-width: 290px;
    color: hsl(0, 0%, 19%);
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: thin;
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;
}

#header {
    border-bottom: none;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 290px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: black;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}



#navbar>header {
    border-bottom: none;
}



#navbar li {
    color: gray;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 5px 0;
}

#navbar a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

#main-doc {
    margin-left: 350px;
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header {
    text-align: left;
    margin: 0;
    font-style: Italic;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
    max-width: 1000px;
}

section li {
    margin: 15px 0 0 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(63, 63, 63, 0.192);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.mobileShow {
    position: fixed;
    bottom: 0;
    right: 0;
}

#myBtn:hover {
    background-color: #555;
}



@media only screen and (max-width: 815px) {
    #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #navbar ul {
        /* display: none; */
        border: 1px solid;
        height: 207px;
    }

    #main-doc {
        position: relative;
        margin-left: 0;
        margin-top: 270px;
    }
}