<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">

    <div class="wrapper">
      {{ content }}

    </div>
  </main>

  <div class="sidebar">
    <!-- {% for tag in site.tags %} -->
    <!-- <h3>{{ tag[0] }}</h3> -->
    <!-- <ul> -->
    <!-- {% for post in tag[1] %} -->
    <!-- <li><a href="{{ post.url }}">{{ post.title }}</a></li> -->
    <!-- {% endfor %} -->
    <!-- </ul> -->
    <!-- {% endfor %} -->

  </div>

  {%- include footer.html -%}

</body>

</html>