* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: rgb(39,41,68);
}

.score {
    color: rgb(224,224,224);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro, .end { 
    color: rgb(224,224,224);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1, .end h1 {
    font-size: 50px;
}

.intro button, .match button, .end button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(224,224,224);
    font-size: 20px;
    background-color: rgb(45,117,96);
    border-radius: 5px;
    cursor: pointer;
}

.match {
    position: absolute;
    top: 50%; /*top edge of the div is 50% from top of the document*/
    left: 50%; /*left edge of the div is 50% from the left margin*/
    transform: translate(-50%,-50%);
    transition: opacity 0.5s ease 0.5s;
}


.end {
    position: absolute;
    bottom: 25%;
    transition: opacity 0.5s ease 0.5s;
    width: 99vw;
}

.winner, .finalScore {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 50px;
}

.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }

    20%{
        transform: rotateY(180deg) translateY(-150px);
    }
    40% {
        transform: rotateY(180deg) translateY(0px);
    }

    60% {
        transform: rotateY(180deg) translateY(-100px);
    }

    80% {
        transform: rotateY(180deg) translateY(0px);
    }

    100% {
        transform: rotateY(180deg) translateY(-75px);
    }

}

@keyframes shakeComputer {
    0%{
        transform: translateY(0px);
    }

    20%{
        transform: translateY(-150px);
    }
    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-75px);
    }

}